.cover__link{
    max-width: 1184px;
    min-height: 740px;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background-image: linear-gradient(rgba(30, 33, 37, 0.3), rgba(36, 38, 43, 0.3)), url(../../../images/cover-trains.jpg);
    background-position: center center;
    background: no-repeat cover;
    background-size: cover;
    transition: 0.3s linear;
}
.cover__link:hover{
    background-image: linear-gradient(rgba(36, 38, 43, 0.5), rgba(36, 38, 43, 0.5)), url(../../../images/cover-trains.jpg);
}   
@media screen and (max-width: 1279px){
    .cover__link{
        min-height: 640px;
    }
}
@media screen and (max-width: 1023px){
    .cover__link{
        min-height: 480px;
    }
}
@media screen and (max-width: 767px){
    .cover__link{
        min-height: 200px;
    }
}